{% extends "layout.html" %}

{% block title %}
    Parameter Selection
{% endblock %}

{% block main %}
    <h1 class="">Australian Powerball Random Number Generator</h1>
    <!-- 
    <p class="text-left mt-3">The Australian <a href="https://www.ozlotteries.com/powerball" class="text-decoration-none">Powerball</a> provides feedback on which
        numbers are hot & cold. They do not offer a means to autonomously select random sequences of hot or cold numbers, so I have 
        gone about providing that functionality here.</p>
    <p class="text-left">The statistics are calculated from the past years results. The algorithm is geared to divide each pool of balls approximately 
        in half. There are five possible configurations for generating number sequences as seen below, using combinations of hot and cold
        numbers for both the normal and powerballs. The final option removes the bias and just selects random numbers.</p>
    <p class="text-left">All you have to do is choose how many lines of each type you would like to be generated!</p>
    -->

    <div><p class="text-left"><strong>Last drawn on: </strong> <em>{{ latest }}</em></p></div>
    <div style="text-align: left;"><strong>Ball hotness calculated from the past 12 months results</strong></div>
    
    <table class="table">
        <tbody>
            <tr class="cold">
                <th>Cold Balls</th>
                <td>{{ coldNumbers }}</td>
            </tr>
            <tr class="hot">
                <th>Hot Balls</th>
                <td>{{ hotNumbers }}</td>
            </tr>
            <tr class="cold">
                <th>Cold Powerballs</th>
                <td>{{ coldPowers }}</td>
            </tr>
            <tr class="hot">
                <th>Hot Powerballs</th>
                <td>{{ hotPowers }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Last Draws Results</h3>
    <table class="table">
        <thead>
            <th>Standard Balls</th>
            <th>Power Ball</th>
        </thead>
        <tbody>
            <td class="boldn">{{ ldn }}</td>
            <td class="boldn">{{ ldp }}</td>
        </tbody>
    </table>

    <h3>Ball Hotness Stats - Last Draw</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Catagory</th>
                <th>Balls drawn</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="hot">Hot Balls</td>
                <td class="hot">{{ hotNums }}</td>
            </tr>
            <tr>
                <td class="cold">Cold Balls</td>
                <td class="cold">{{ coldNums }}</td>
            </tr>
            <tr>
                <td class="{{ power }}">Power Ball</td>
                <td class="{{ power }}">{{ power }}</td>
            </tr>
        </tbody>
    </table>
        
    <form action="/generate" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>Normal Balls</th>
                    <th>Power Ball</th>
                    <th></th>
                    <th></th>
                    <th># Lines</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" class="hot">Hot Normal Balls</td>
                    <td colspan="2" class="hot">Hot Power Balls</td>
                    <td><input type="number" name="hh" value="0"></td>
                </tr>
                <tr>
                    <td colspan="2" class="hot">Hot Normal Balls</td>
                    <td colspan="2" class="cold">Cold Power Balls</td>
                    <td><input type="number" name="hc" value="0"></td>
                </tr>
                <tr>
                    <td colspan="2" class="cold">Cold Normal Balls</td>
                    <td colspan="2" class="hot">Hot Power Balls</td>
                    <td><input type="number" name="ch" value="0"></td>
                </tr>
                <tr>
                    <td colspan="2" class="cold">Cold Normal Balls</td>
                    <td colspan="2" class="cold">Cold Power Balls</td>
                    <td><input type="number" name="cc" value="0"></td>
                </tr>
                <tr>
                    <td colspan="4" style="background-color: aquamarine;">Random selection - neither hot nor cold</td>
                    <td><input type="number" name="r" value="0"></td>
                </tr>
                <tr>
                    <td colspan="5">Select number of hot balls - Remaining will be cold</td>
                </tr>
                <tr>
                    <td style="background-color: red;">Custom</td>
                    <td>
                        <label for="h">Hot balls:</label>
                        <select name="h" id="h">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    <td></td>
                    <td>
                        <label for="power">Powerball:</label>
                        <select name="power" id="power">
                            <option value="hot">Hot</option>
                            <option value="cold">Cold</option>
                        </select>
                    </td>
                    <td><input type="number" name="c" value="0"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary rs" type="submit">Get Numbers!</button>
    </form>
{% endblock %}